/* 
Main Header Structure 
*/

.header__left{

}

.header__center {
	display: none;
	padding-top: 10px;
	text-align: center;
	@include tablet {
		display: block;
		transform: scale(0.5);
	}
	@include desktop {
		display: block;
		transform: scale(1);
	}
}

.header__right {
	text-align: right;
	padding-right: 15px;
	margin-left: -15px;
}

/* 
Main Header Elements
*/

.logo {
	float: left;
	width: 170px;
	height: 55px;
	background: url('../img/bg-logo.png') no-repeat;
	background-size: 100%;
	color: #fff;
	@include desktop {
		width: 308px;
		height: 97px;
	}
	h1 {
		margin: 0 0 12px;
		text-indent: 20px;
		letter-spacing: 2px;
		font-weight: bold;
		font-size: 23px;
		padding: 5px 0 0;
		@include desktop {
			text-indent: 38px;
			padding: 8px 0 0;
			font-size: 40px;
		}
	}
}
.payoff {
	width: 114px;
	margin: -10px 0px 0px 21px;
	padding-top: 2px;
	border-top: 1px solid #fff;
	letter-spacing: 0;
	font-size: 9px;
	@include desktop {
		width: 192px;
		margin: -10px 0px 0px 39px;
		border-top: 2px solid #fff;
		letter-spacing: 0.5px;
		font-size: 14px;
	}
}

$height-nav:124px;
.nav-bullet {
	height: $height-nav;
	padding-top: 75px;
	padding-right: 3%;
	padding-left: 3%;
	@include smartphone{
		padding-right: 10%;
		padding-left: 10%;
	}
	@include tablet{
		padding-right: 20%;
		padding-left: 20%;
	}
	@include desktop {
		display: none;
	}
}
.nav-main{
	margin-top: -($height-nav);
	@include desktop {
		margin-top: 0;
	}
}
.header__bullet {
	border: 2px solid $blue-main;
	width:19px;
	height:19px;
	border-radius: 50%;
	cursor: pointer;
	&--active{
		background-color: $blue-main;
		cursor: default;
	}
	&:hover{
		background-color: $blue-main;
	}
}

/*
Global elements
*/

.flex{
	display: flex;
}
.no-flex-mobile {
	display: block;
	@include desktop {
		display: flex;
	}
}

.arrow {
	width: 30px;
	height: 30px;
	margin: 6px 6px 6px 0;
	background-color: $blue-main;
	border: 2px solid #fff;
	border-radius: 50%;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	transition:  transform 200ms ease;
	@include tablet {
		width: 40px;
		height: 40px;
	}
	@include desktop {
	 	width: 60px;
	 	height: 60px;
	 	border: 3px solid #fff;
	}
	&__up{
	    background: $blue-main url(../img/arrow-up.png) no-repeat center center;
	    background-size: 18px auto;
	    @include tablet {
	    	background-size: 23px auto;
	    }
	    @include desktop {
	    	background-size: auto;
	    }
	}
	&__down{
	    background: $blue-main url(../img/arrow-down.png) no-repeat center center;
	    background-size: 18px auto;
	    @include tablet {
	    	background-size: 23px auto;
	    }
	    @include desktop {
	    	background-size: auto;
	    }
	}
	&:hover:enabled{
		transform: scale(1.09);
	}
	&--disabled {
		background-color: #b4b4b4;
		opacity: 0.7;
		cursor: default;
	}
	&--in-page {
		width: 45px;
		height: 45px;
		margin: 0px auto;
		border: 2px solid #fff;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.55);
		background-size: 61%;
	}
}

.box{
	min-height: 100vh;
	width: 100%;
	background: $bg-color;
}

/*
Section one
*/

.one{
	@extend .box;
	margin-top: 110px;
	min-height: 415px;
	height: 70vh;
	background: $bg-color url("../img/bg-library.png") left top;
	display: flex;
	flex-flow: column;
	@include desktop {
		margin-top: 170px;
	}
}

.welcome-head {
	margin-top: 35px;
	@include tablet {
		display: none;
	}
}

.welcome {
	width: 220px;
	height: 180px;
	margin: 5px auto 15px;
	padding-top: 11px;
	background: transparent url("../img/bg-welcome.png") left top no-repeat;
	background-size: 100%;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 1.15;
	@include tablet {
		width: 333px;
		height: 271px;
		margin-top: 44px;
		padding-top: 25px;
		font-size: 25px;
	}
	#name {
		width: 88%;
		margin: 9px 0px 15px;
		padding: 3px 5px;
		background-color: rgb(255, 255, 255);
		border: 0px none;
		border-radius: 5px;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.55);
		color: #3072AF;
		text-align: center;
		font-size: 17px;
		@include tablet {
			margin: 23px 0px 25px;
			font-size: 26px;
		}
	}
}

/*
Section two
*/

.two{
	@extend .box;
	text-align: center;
	color: #fff;
}

.hello {
	padding: 15px;
	margin: -25px 0 0;
	background: $blue-main;
	box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.23);
	font-size: 20px;
	font-weight: bold;
	@include tablet {
		font-size: 34px;
	}
	@include desktop {
		margin: -25px -20px 0;
	}
}
.history{
	background: $bg-color url('../img/dec-cards.png') no-repeat 0px -50px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.history__incipit{
	width: 75%;
	margin: 45px auto;
	padding: 8px;
	background: $blue-main;
	border-radius: 7px;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: bold;
	@include tablet {
		font-size: 27px;
	}
}
.history__card{
	width: 90%;
	height: auto;
	margin-bottom: 50px;
	padding: 200px 16px 30px;
	background: $blue-light;
	border: 3px solid #fff;
	border-radius: 17px;
	box-shadow: 8px 5px 0 RGBA(0, 0, 0, 0.14);
	font-size: 16px;
	&--hands{
		background: $blue-light url('../img/big-icon-hands.png') no-repeat center 35px;
	}
	&--people{
		background: $blue-light url('../img/big-icon-people.png') no-repeat center 35px;
	}
	&--books{
		background: $blue-light url('../img/big-icon-books.png') no-repeat center 35px;
	}
	@include tablet {
		width: 75%;
	}
	@include desktop {
		min-width: 270px;
		width: 29%;
		height: 350px;
		br{ 
			display: block;
		}
	}
	br{ 
		display: none;
	}
}

/*
Section three
*/

.three{
	@extend .box;
	display: flex;
	flex-wrap: wrap;
}

.box-red {
	width: 90%;
	background: #ee5a60;
	border-radius: 12px;
	box-shadow: 8px 4px 0 RGBA(0, 0, 0, 0.14);
	padding: 28px 21px 21px 21px;
	margin: 65px auto;
	text-align: center;
	@include tablet{
		width: 75%;
	}
	@include desktop{
		width: 45%;
	}
	&--one{
		@include desktop{height: 411px;}
	}
	&--two{
		@include desktop{height: 505px;}
	}
	&__title{
		color: #fff;
		font-weight: bold;
		font-size: 110%;
		margin-bottom: 15px;
		@include tablet{
			font-size: 28px;
		}
	}
	&__tab{
		border: 2px solid #ee5a60;
		background: #fff;
		box-shadow: 2px 2px 8px 0px RGBA(47, 47, 47, 0.32);
		border-radius: 10px 10px 0px 0px;
		border-bottom: none;
		padding: 15px 5%;
		width: 33.3%;
		float: left;
		color: #b64547;
		font-weight: bold;
		font-size: 60%;
		@include tablet{
			font-size: 19px;
		}
		&--active{
			border-bottom: 4px solid rgb(238, 90, 96);
			padding-bottom: 11px;
			cursor: pointer;
			transition: all 0.2s linear;
			&:hover{
				border-bottom: 4px solid rgb(238, 90, 96);
				padding-bottom: 16px;
				padding-top: 17px;
				margin-top: -7px;
			}
		}	
	}
	&__content{
		float: left;
		width: 99.9%;
		padding: 28px;
		background: #fff;
		box-shadow: 2px 6px 8px -3px RGBA(47, 47, 47, 0.32);
		border: 2px solid #ee5a60;
		border-radius: 0px 0px 5px 5px;
		border-top: none;
		text-align: justify;
		line-height: 1.5;
		font-size: 16px;
		@include desktop{
			line-height: 1.8;
			font-size: 18px;
		}
	}
	&__list{
		border: 1px solid #ee5a60;
		background: #fff;
		box-shadow: 2px 2px 8px 0px RGBA(47, 47, 47, 0.32);
		border-radius: 5px;
		padding: 15px;
		.h2 {
			font-size: 100%;
			font-weight: bold;
			color: rgb(224, 83, 38);
			margin: 15px auto 20px;
			@include tablet{
				font-size: 21px;
			}
			>br{
				display: none;
				@include desktop{
					display: block;
				}
			}
		}
		li {
			text-align: left;
			margin-bottom: 8px;
			padding: 4px 4px 4px 8%;
			font-weight: bold;
			list-style: outside none none;
			color: rgb(103, 103, 103);
			background: transparent url("../img/arr-black.png") no-repeat scroll 90% center;
			font-size: 13px;
			transition: all 0.2s linear;
			@include smartphone{
				font-size: 16px;
			}
			@include tablet{
				font-size: 18px;
			}
			&:hover{
				color: #fff;
				background-color: $blue-main;
				cursor: pointer;
				border-radius: 4px;
				background-image: url("../img/arr-white.png");
				box-shadow: $shadow-dark;
				//border-bottom: 1px solid #fff;
				//padding-bottom: 3px;
			}
		}
	}
	&__bottom{
		color: rgb(255, 255, 255);
		font-weight: bold;
		margin-top: 4px;
		font-size: 9px;
		img{
			margin: 6px 2px -7px 10px;
		}
		@include smartphone{
			font-size: 16px;
		}
	}
	&__tab-mask{
		position: absolute;
		background: #f2f2f2;
		//padding: 30px 40px;
		width: 90%;
		height: 398px;
		left: 5%;
		margin-top: 125px;
		@include tablet{
			left: 12.5%;
			width: 75%;
			height: 441px;
			margin-top: 139px;
		}
		@include desktop{
			left: auto;
			margin-left: -437px;
			width: 414px;
			height: 435px;
		}
		&__container{
			border: 2px solid #df5227;
			margin: 20px;
			border-radius: 8px;
			padding: 70px 15px 15px;
			background: #fff;
			color: #666;
			height: 90%;
			overflow-y: hidden;
			h3{
				margin-bottom: 15px;
			}
			p {
				padding-right: 38px;
				overflow-y: scroll;
				height: 267px;
			}
		}
		&__icon{
			float: right;
			margin-top: -70px;
			margin-right: -3px;
			font-size: 30px;
			color: #df5227;
			cursor: pointer;
			transition: all 0.3s linear;
			&:hover{
				transform: scale(1.2,1.2);
			}
		}
	}
}

.box-red--deco-1 {
	background: url('../img/graffa-in.png') no-repeat;
	width: 100px;
	height: 110px;
	position: relative;
	top: -82px;
	left: -33%;
	@include tablet{
		top: -94px;
		left: -37%;
	}
}

.box-red--deco-2 {
	background: url('../img/table-top.png') no-repeat;
	width: 179px;
	height: 40px;
	position: relative;
	margin-top: -54px;
	margin-bottom: 10px;
}

.box-red--deco-3 {
	background: url('../img/graffe.png') no-repeat right;
	width: 100%;
	height: 54px;
	position: relative;
	float: left;
	margin-top: -54px;
	top: 87px;
}


/*
Section four
*/

.four{
	@extend .box;
}

.become{
	padding-top: 5px;
	background: url('../img/people-large.png') center 455px no-repeat;
	@include smartphone{
		background: url('../img/people-large.png') center 380px no-repeat;
	}
	@include tablet{
		background: url('../img/people-large.png') center 315px no-repeat;
	}
	@include desktop{
		padding: 35px 0 0;
		background: url('../img/scissors.png') -8% 70px no-repeat, url('../img/people-large.png') center 355px no-repeat;
	}
	&__title{
		width: 90%;
		margin: 35px auto;
		padding: 7px;
		background: #fff;
		border-radius: 5px;
		color: #3cb647;
		font-size: 20px;
		text-align: center;
		font-weight: bold;
		letter-spacing: 1px;
		@include tablet {
			width: 550px;
			padding: 15px;
			font-size: 23px;
		}
	}
	&__content-container{
		margin: 0 auto 500px;
		@include tablet{
			width: 550px;
			height: 182px;
			margin-bottom: 170px;
		}
	}
	&__content{
		position: absolute;
		margin: 0 5%;
		padding: 25px 25px 20px;
		color: #fff;
		font-size: 16px;
		text-align: center;
		line-height: 1.5;
		letter-spacing: 1px;
		border: 3px solid #fff;
		border-radius: 6px;
		background-color: #3cb647;
		box-shadow: 10px 8px 0px rgba(0,0,0,0.2);
		@include smartphone{
			font-size: 22px;
		}
		@include tablet{
			margin: 0 -5%;
			width: 80%;
		}
		@include desktop{
			width: 550px;
			margin: 0;
		}
		&--back{
			@extend .become__content;
			transform: rotate(-3.5deg);
			width: 90.5%;
			height: 43%;
			margin-top: -8px;
			@include tablet{
				transform: rotate(-1.5deg);
				width: 80%;
				margin: 0 -5%;
				height: 155px;
			}
			@include desktop{
				width: 550px;
				margin: 0;
				height: 185px;
			}
		}
		&--bullet{
			position: absolute;
			width: 20px;
			height: 20px;
			margin: 10px 28px;
			border-radius: 50%;
			border: 4px solid #fff;
			background-color: #b5babd;
			@include smartphone{
				margin: 15px 8%;
			}
			@include tablet{
				margin: 15px -3%;
			}
		}
	}
	&__footer{
		width: auto;
		margin: 0 5%;
		text-align: center;
		//padding: 45px 0 50px;
		background: #3cb647;
		border-radius: 5px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		padding: 5px 15px;
		@include smartphone{
			font-size: 24px;
			padding: 15px 25px;
		}
	}
}

