
$font:'Raleway', sans-serif;

$blue-main:#3072af;
$blue-light:#3ca9f7;

$bg-color:#e2e9ec;
$bg-image:"../img/bg-body.png";

$shadow-basic:1px 0px 8px rgba(0, 0, 0, 0.55);
$shadow-dark:1px 3px 8px rgba(0, 0, 0, 0.75);


$smartphone-width: 480px;
$tablet-width: 768px;
$desktop-width: 960px;

@mixin smartphone {
  @media (min-width: #{$smartphone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.h-d-none{
	display: none;
}
.h-d-block{
	display: block;
}

.h-f-right{
	float: right;
}

.icon{
	font-style: normal;
}



.controller{
	position: fixed;
	top:0 ; left: 0;
	width: 100%;
	margin: 120px auto 0;
	font-size: 45px;
	font-weight: bold;
	color: #000;
	text-align: center;
	opacity: 0.7;
	@include desktop{
		margin-top: 180px;
	}
	&>div{
		width: 100%;
	}
}