doctype html
html(lang="en")
  head
    title NV
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Raleway:400,800')
    link(rel="stylesheet" type="text/css" href="css/min.style.css")
  
  body
    
    header
      .l-header.nav-bullet
        span.header__bullet.b__1.header__bullet--active
        span.header__bullet.b__2
        span.header__bullet.b__3
        span.header__bullet.b__4
        span.header__bullet.b__5
        span.header__bullet.b__6
        span.header__bullet.b__7
      
      .l-header.nav-main
        .header__left
          .logo
            h1 Form-Art
            .payoff associazione socioculturale
        
        .header__center
          img(src="img/mini-library.png" alt="Libri")
        
        .header__right
          button.arrow.arrow__up.arrow--disabled(disabled)
          button.arrow.arrow__down  
    


    main.l-wrapper
    
      
      section.l-box
        .one
          .welcome-head
            img(src="img/mini-library.png" alt="Libri")
          .welcome Ciao<br> 
            input(type="text" name="name" id="name" placeholder="Scrivi qui il tuo nome..") 
            <br> ..e unisciti a noi.<br> Abbiamo una storia<br>da raccontarti..
          button.arrow.arrow__down.arrow--in-page

      section.l-box
        .two
          .hello Ciao {user}

          .history
            .history__incipit ECCO UNA NOSTRA BREVE PRESENTAZIONE

            .no-flex-mobile
              .history__card.history__card--hands Siamo un <b>GRUPPO</b> di persone <br>che fonda i propri rapporti sulla <br><b>FIDUCIA</b> e l'<b>ASCOLTO</b> reciproco <br>nel <b>RISPETTO DELLA IDENTIT&Agrave;</b> <br>del singolo.
              
              .history__card.history__card--people <b>OGNUNO DI NOI &Egrave; IMPORTANTE</b> <br>e pu&ograve; contare sia sul <br><b>CONTRIBUTO</b> quanto sulla <br><b>COLLABORAZIONE</b> degli altri.

              .history__card.history__card--books La nostra idea comune &egrave; che <b>LA <br>CULTURA &Egrave; DI TUTTI</b> e ci <br>impegnamo a <b>METTERLA A <br>DISPOSIZIONE</b> delle persone.


      section.l-box
        .three
          .box-red.box-red--one
            .box-red__title LA NOSTRA STORIA
            .box-red__tab.tab-ieri IERI
            .box-red__tab.tab-oggi.box-red__tab--active OGGI
            .box-red__tab.tab-domani.box-red__tab--active DOMANI
            .box-red__content 
              p.p-ieri Form-art &egrave; nata con l'intento di diffondere la cultura attraverso attivit&agrave; legate al territorio e di creare un gruppo eterogeneo, per provenienza sociale en et&agrave;, legato dalla passione per le arti.
              p.p-oggi.h-d-none Form-art &egrave; nata con l'intento di diffondere la cultura attraverso attivit&agrave; legate al territorio e di creare un gruppo eterogeneo, per provenienza sociale en et&agrave;, legato dalla passione per le arti.
              p.p-domani.h-d-none Form-art &egrave; nata con l'intento di diffondere la cultura attraverso attivit&agrave; legate al territorio e di creare un gruppo eterogeneo, per provenienza sociale en et&agrave;, legato dalla passione per le arti.
            .box-red--deco-1
            .box-red--deco-3

          .box-red.box-red--two
            .box-red--deco-2
            .box-red__title QUELLO CHE FACCIAMO
            .box-red__list
              h2.h2 PROGETTO INTEGRATO<br>"MAI SOLI CON UN LIBRO"
              ul
                li IL LIBRO RITROVATO
                li UN LIBRO AL SOLE
                li DA TE
                li BIBLI-HOSPITAL
                li BIBLIO-INFORM@ART
                li C.A.S.SCO
                li V.I.S.
            .box-red__bottom E CHE GI&Agrave; ABBIAMO FATTO <img src="img/icon-doc.png" /> Apri il PDF

          .box-red__tab-mask.h-d-none
            .box-red__tab-mask__container
              i.icon.box-red__tab-mask__icon &#10006;
              h3 IL LIBRO RITROVATO
              p Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa.

          .box-red__tab-mask.h-d-none
            .box-red__tab-mask__container
              i.icon.box-red__tab-mask__icon &#10006;
              h3 UN LIBRO AL SOLE
              p Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa.
      
      section.l-box
        .four
          .become
            .become__title DIVENTA PARTE DELLA NOSTRA COMUNIT&Agrave;
          
            .become__content-container
              .become__content--back
              .become__content Stiamo cercando <b>persone propositive</b>, interessate a intraprendere un <b>percorso di creazione di valore nella societ&agrave;</b>. L'et&agrave; non &egrave; importante, <b>tutti possono contribuire</b>.
              .become__content--bullet
          
            .become__footer PARTECIPA AL CAMBIAMENTO. DIVENTA PROTAGONISTA.
          
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    script(src="js/test.js")
